/* SummaryForm.css */
.summary-form {
    margin: auto;
    width: 60%;
    max-width: 600px; /* Adjust the maximum width as needed */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .summary-form h2 {
    margin-bottom: 20px;
  }
  
  .summary-form p {
    margin: 5px 0;
  }
  
  .image-preview {
    margin-top: 20px; /* Increased margin for better spacing */
    max-width: 40%; /* Ensure image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
  }
  
  .previous-button {
    margin-top: 20px; /* Increased margin for better spacing */
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
  }
  
  .previous-button:hover {
    background-color: #ccc;
  }
  