/* Stepper.css */
.stepper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width: auto;
    align-items: center;
  }
  
  .step {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .step.active {
    background-color: black;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .step.completed {
    background-color: #2ecc71; /* Green color for completed steps */
    color: #fff;
  }
  
  .step.active::before,
  .step.completed::before {
    content: '✓'; /* Tick emoji */
    margin-right: 5px;
  }
  